<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--    <bean name="vtuber" class="com.learn.bean.Vtuber" init-method="init" destroy-method="destory" scope="prototype">-->
<!--        <property name="name" value="Hiiro"/>-->
<!--    </bean>-->
<!--&lt;!&ndash;    单例模式的 Bean 对象会在一开始按照配置顺序初始化，添加 depend-on 可以在加载该类前加载 depend-on 中的类，甚至可以加载多例类&ndash;&gt;-->
<!--    <bean name="son" class="com.learn.bean.Son" depends-on="vtuber"/>-->
<!--    <bean name="father" class="com.learn.bean.Father"/>-->
<!--    <bean name="guanzhu" class="com.learn.bean.Guanzhu" scope="singleton" autowire="byType">-->
<!--        <constructor-arg name="title" value="Oh my vtuber"/>-->
<!--        <property name="title" value="Guanzhu Hiiro miao, thanks miao ~"/>-->
<!--        <property name="vtuber" ref="vtuber"/>-->
<!--        <property name="fans">-->
<!--            <list>-->
<!--                <value>lys</value>-->
<!--                <value>liyusen</value>-->
<!--            </list>-->
<!--        </property>-->
<!--        <property name="award">-->
<!--            <map>-->
<!--                <entry key="lys" value="1.99"/>-->
<!--                <entry key="lidog" value="2.33"/>-->
<!--            </map>-->
<!--        </property>-->
<!--    </bean>-->
    <bean name="vtuber" class="com.learn.bean.Vtuber"/>
    <bean name="aopforvtuber" class="com.learn.aop.aopForVtuber"/>
    <bean name="aopinterfaceforvtuber" class="com.learn.aop.aopInterfaceForVtuber"/>
    <aop:config>
        <aop:pointcut id="vtuber_speak" expression="execution(* com.learn.bean.Vtuber.speak(String))"/>
<!--        <aop:aspect ref="aopforvtuber">-->
<!--&lt;!&ndash;            <aop:before method="before" pointcut-ref="vtuber_speak"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <aop:after-returning method="after" pointcut-ref="vtuber_speak"/>&ndash;&gt;-->
<!--            <aop:around method="arround" pointcut-ref="vtuber_speak"/>-->
<!--        </aop:aspect>-->
        <aop:advisor advice-ref="aopinterfaceforvtuber" pointcut-ref="vtuber_speak"/>
    </aop:config>

</beans>